[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
poloniex = "*"
websocket-client = "*"
slackclient = "*"
pymongo = {extras = ["tls"]}
dnspython = "*"
autobahn = {extras = ["ayncio"]}
pyopenssl = "*"
service-identity = "*"
"pypiwin32" = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.6"
